.text-movie-news {
    font-size: 1.4rem;
    color: black;
}

.text-data-error {
    font-size: 1.7rem;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.615);
    border-radius: 10px;
}